.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--page-height);

    background-color: rebeccapurple;
}

.banner-container {
    width: 100%;
}

.banner--image { 
    width: 80%;
    max-width: 120vh;
}

.banner-title {
    margin: 30px;
    font-size: var(--subtitle-font-size);
}

.banner-text {
    font-size: var(--text-font-size);
    font-weight: 400;
}

.logoIFSP {
    width: 220px;
    margin: 15px;
}




@media screen and (max-width: 670px) {
    .banner-title {
        font-size: var(--mobile-title-font-size);
    }
    
    .banner-text {
        font-size: var(--mobile-text-font-size);
    }
}

@media screen and (max-width: 460px) {
    .banner-title {
        font-size: 20px;
    }
    
    .banner-text {
        font-size: 15px;
    }
}