.carousel{
    display: flex;
    height: max-content;
    flex-direction: row;
    transition: all .75s;
}

.carousel-window {
    width: calc(250px*4);

    position: relative;
    height: 100%;
    
    overflow: hidden;
}


.control-button {
    display: flex;
    
}

.control-button > svg {
    width: 100px;
    height: auto;
}

.forward{
    rotate: 180deg;
}


.clickable > path {
    fill: var(--pallete-light)
}

.nonClickable > path{
    fill: rgb(209, 209, 209);
}


.carousel-card {
    height: 100%;
    margin: 0 15px;
}


@media  screen and (max-width : 1550px) {
    .carousel-window {
        width: calc(250px*3);
    }
}

@media  screen and (max-width : 1200px) {    
    .carousel-window {
        width: calc(250px*2);
    }
}

@media  screen and (max-width : 850px) {
    .carousel-window {
        width: calc(250px);
    }
}

@media  screen and (max-width : 480px) {
    .control-button > svg {
        width: 70px;
        background-color: aquamarine;
    }
    .clickable > path {
        stroke: var(--pallete-light);
        stroke-width: 0.5;
    }
    
    .nonClickable > path{
        stroke: rgb(209, 209, 209);
        stroke-width: 0.2px;
    }
}

@media  screen and (max-width : 440px) {
    
    .carousel-window {
        width: calc(230px);
    }
    .control-button > svg {
        width: 50px;
    }
}

