.carousel-control {
    width: calc(270px*4 + 217px);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: "previous carousel next";
}

.control-button {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button > svg {
    width: 100px;
    height: auto;
}


.carousel-control > .previous {
    grid-area: previous;
}

.carousel-control > .next {
    grid-area: next;
}

.clickable > path {
    fill: var(--pallete-light)
}

.nonClickable > path{
    fill: rgb(209, 209, 209);
}

.carousel-window {
    grid-area: carousel;

    position: relative;
    /* z-index: 1; */
    
    padding-bottom: 30px;
    padding-top: 30px;
    
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

.carousel {
    height: 100%;

    transition: all .75s;

    display: flex;
}

.carousel-card {
    width: fit-content;
    height: 100%;

    margin: 0 25px;
}


@media  screen and (max-width : 1550px) {
    .carousel-control{
        width: calc(270px*3 + 200px);
    }
}

@media  screen and (max-width : 1250px) {
    .carousel-control{
        width: calc(270px*2 + 200px);
    }
}

@media  screen and (max-width : 900px) {
    .carousel-control{
        width: 470px;
    }
}

@media  screen and (max-width : 480px) {
    .carousel-control{
        width: 410px;
    }

    .control-button > svg {
        width: 70px;
    }
    .clickable > path {
        stroke: var(--pallete-light);
        stroke-width: 0.5;
    }
    
    .nonClickable > path{
        stroke: rgb(209, 209, 209);
        stroke-width: 0.2px;
    }
}

@media  screen and (max-width : 440px) {
    .carousel-control {
        width: 370px;
    }

    .control-button > svg {
        width: 50px;
    }
}
@media  screen and (max-width : 400px) {
    .carousel-control {
        width: 288px;
    }
    .carousel-card {
        margin: 0 2px;
    }
}
    
    .nonClickable > path{
        stroke: rgb(209, 209, 209);
        stroke-width: 0.2px;
    }
}

@media  screen and (max-width : 400px) {
    .carousel-control {
        width: 330px;
    }
}
@media  screen and (max-width : 330px) {
    .carousel-control {
        width: 248px;
    }
    .control-button > svg {
        width: 50px;
        margin: -10px;
    }
}
