.menu {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: var(--navbar-height);
    background-image: linear-gradient( to left, var(--pallete-dark), var(--pallete-light));
    display: flex;
    align-items: center;
}

.menu-image > img {
    display: fixed;
    /* margin-top: 1.5vh; */
    width: auto;
    height: 4vh;
    padding-left: 0.8em;
    cursor: pointer;
}
.menu-image  {
    display: flex;
    align-items: center;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    margin-top: 8px;
    display: block;
    border-radius: 0em .8em .8em .8em;
    position: absolute;
    background-image: linear-gradient( to left, var(--pallete-dark), var(--pallete-light));
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: .125em;
    font-size: var(--text-font-size);
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  
@media screen and (min-width: 775px) {
    .menu {
      display: none;
    }
    .dropdown-content {
      position: absolute !important;
    }
  }