.eventTitle {
    font-size: 22px;
    color: var(--font-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventImage {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    bottom:0;
    left: 0;
}

.eventBanner{
    width: 220px;
    height: 250px;
    position: relative;

}

.event{
    width: 220px;
}


.eventAuthor {
    font-size: 20px;
    font-weight: 700;
    color: var(--font-color);
    margin: 10px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventDate {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    margin-bottom: 10px;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}



@media  screen and (max-width : 400px) {
    .eventBanner {
        width: 184px;
        height: 210px;
        
    }

    .event{
        width: 184px;
    }

}
