.eventTitle {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 25px;
}

.eventImage {
    border-radius: 15px;
    width: 300px;
    height: 175px;
    object-fit: cover;
}

.eventAuthor {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--font-color);
    text-align: center;
    margin: 18px;
}

.eventDate {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
    margin-bottom: 20px;
}

@media  screen and (max-width : 480px) {
    .eventImage {
        width: 275px;
    }
}

@media  screen and (max-width : 360px) {
    .eventImage {
        width: 250px;
    }
}

@media  screen and (max-width : 300px) {
    .eventImage {
        width: 200px;
        height: 125px;
    }
}