.eventTitle {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 25px;
}

.eventImage {
    border-radius: 15px;
    width: 250px;
    height: 175px;
    object-fit: cover;
    position: absolute;
    bottom:0;
    left: 0;
}

.eventBanner{
    width: 250px;
    height: 175px;
    /* background-color: red; */
    position: relative;

}


.eventAuthor {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--font-color);
    text-align: center;
    margin: 18px;
}

.eventDate {
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
    margin-bottom: 20px;
}

/* .event{
    background-color: red;
} */

@media  screen and (max-width : 480px) {
    .eventImage {
        width: 220px;
    }
}

@media  screen and (max-width : 400px) {
    .eventImage {
        width: 190px;
    }

    .event{
        margin-left: -20px;
    }
}


@media  screen and (max-width : 330px) {
    .eventImage {
        width: 200px;
        height: 125px;
    }

    .event{
        margin-left: -10px;
    }
}
