.footer {
    position: fixed;
    left: 0;
    bottom: -1;

    width: 100%;
    max-width: 100%;

    padding: .5rem 0;

    background-image: linear-gradient( to right, var(--pallete-dark), var(--pallete-light));
    height: 6vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer > div {
    height: 6vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.footer_text {
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: var(--text-font-size);
    font-weight: 600;
    
}

.logoGithub {
    margin-top: 0.5vh;
    height: 4.5vh;
}

.logoIfsp {
    margin-top: 0.5vh;
    height: 4.5vh;
}

@media screen and (max-width: 775px) {
    .footer {
        height: 20vh;
    }
    
    .footer > div {
        flex-wrap: wrap;
        flex-direction: column;
        column-gap: 3vh;

    }

    .footer_text {
        font-size: 1rem;
    }

  }
    