.locationFrame{
    width: 400px;
    padding: 10px;
    border-radius: 15px;
}

.locationFrame > h2{
    font-weight: bold;
    padding-bottom: 10px;
}

.local > p{
    padding-bottom: 15px;
}

iframe {
    margin: 20px;
    width: 400;
    height: 300;
    border-style: 0;
}

