.locationFrame{
    width: 400px;
    border: 2px solid var(--pallete-dark);
    padding: 10px;
    border-radius: 15px;
}

h2{
    font-weight: bold;
    text-transform: uppercase;
}

p{
    padding-bottom: 15px;
}

iframe {
    width: 400;
    height: 300;
    border-style: 0;
}

