.nav-bar > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 30px;
    height:60px;
}

.nav-bar li {
    transition: transform 0.2s ease-out;
    padding-left: 20px;
    padding-right: 20px;
    margin: .125em;
    border-radius: .5em;
    font-size: var(--text-font-size);
    font-weight: 600;
}

li a {
    text-decoration: none;
    color: white;
}

.nav-bar li:hover {
  transform: translateY(-5px);
}