.nav-bar > ul {
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar a {
    padding: 1em;
    margin: .125em;

    border-radius: .5em;

    text-decoration: none;
    text-transform: uppercase;

    color: white;       
}

.nav-bar a:hover, .nav-bar a:focus {
    background-color: var(--pallete-dark);
}
