.partnerImage img{
    max-height: 150px;
    max-width: 250px;
    aspect-ratio:initial; 
}

.partnerImage{
    width: 150px;
    height: 150px;
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.partnerText {
    color: var(--font-color);
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


.container img{
    align-self: center;
}
