.popUpTeste {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 2px 2px 2px #c4c4c4;

    background: rgb(255, 255, 255); 
    overflow: auto; 
    border-radius: 15px;
    outline: none; 
    padding: 20px;
}

.popUpOverlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(197, 197, 197, 0.75);
}

.popUpDescription {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 15px;

    position: relative;
    top: 25%;
}


.popUpDescription > h2 {
    margin-bottom: 10px;
}

.popUpDescription > h3 {
    margin-bottom: 10px;
}

.badge-line{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.popUpDescription > p {
    font-weight: var(--text-font-weight);
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1120px) {
    .popUpTeste {
        width: 40%;
    }
}

@media screen and (max-width: 852px) {
    .popUpTeste {
        width: 45%;
    }
}

@media screen and (max-width: 750px) {
    .popUpTeste {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .popUpTeste {
        width: 55%;
    }
}

@media screen and (max-width: 560px) {
    .popUpTeste {
        width: 65%;
    }
}

@media screen and (max-width: 480px) {
    .popUpTeste {
        width: 75%;
    }
}