:root {
    --background-theme: #00c7c780;
    --pallete-dark: #00D1FF;
    --pallete-mid-dark: #569DAA;
    --pallete-mid-light: #87CBB9;
    --pallete-light: #00D66F;
    --main-font: 'Montserrat', sans-serif;
    --font-color: rgb(32, 32, 32);

    --title-font-size: 1.6rem;
    --text-font-size: 1.2rem;
}
