:root {
    --background-theme: rgba(0, 200, 200, .5);
    --pallete-dark: #577D86;
    --pallete-mid-dark: #569DAA;
    --pallete-mid-light: #87CBB9;
    --pallete-light: #B9EDDD;
    --main-font: 'Montserrat', sans-serif;
    --font-color: rgb(32, 32, 32);
}
