* {
  box-sizing: border-box;

  padding: 0;
  margin: 0; 
  
  font-family: var(--main-font);
  text-align: center;
}

:root {
  font-size: 12pt;
}

#root {
  width: 100vw;
  max-width: 100vw;

  height: auto;
  min-height: 100vh;
}
