* {
  box-sizing: border-box;

  padding: 0;
  margin: 0; 
  
  font-family: var(--main-font);
  text-align: center;
  scroll-behavior: smooth;
}
/* 
.scroll-container::-webkit-scrollbar {
  width: 7px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: var(--pallete-light)
}

.scroll-container::-webkit-scrollbar-thumb {
  background: linear-gradient( 180deg, var(--pallete-dark), var(--pallete-light));
  border-radius: 7px;
}

.scroll-container::-webkit-scrollbar-corner{
  size: 0;
} */