.about-the-event {
    height: var(--page-height);
    padding: 0 1rem;

    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-the-event > header h2 {
    margin: 0 0 .5em;

    font-weight: light;
    font-size: var(--title-font-size);
}

.about-the-event > .section-content {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.event-description {
    width: 1000px;
    max-width: 70%;
    
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
}


@media screen and (max-width: 390px) {
    .event-description {
        max-width: 90%;
    }

    .about-the-event > .section-content {
        padding: 20px 0;
    }

}
