:root {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  max-width: 100%;

  height: auto;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 10vh 90vh minmax(100vh, auto) minmax(10vh, auto);
  grid-template-areas: "header" "banner" "content" "footer";
}

.app > .header {
  grid-area: header;

  background-color: var(--pallete-mid-dark);
}

.app > .banner {
  grid-area: banner;

  background-color: var(--background-theme);
}

.app > .content {
  grid-area: content;
}

.app > .content > section {
  width: 100%;
  max-width: 100%;

  height: 100vh;
  max-height: 100vh;

  padding: 1rem;
}

.app > .content > .colored-section {
  background-color: var(--pallete-mid-light);
}

.app > .footer {
  grid-area: footer;

  color: white;

  background-color: var(--pallete-mid-dark);
}
