.app {
  width: 100%;
  max-width: 100%;

  height: auto;
  min-height: 100vh;

  display: grid;
  grid-template-areas: "header" "banner" "content" "footer";
}

.app > .header {
  grid-area: header;
}

.app > .banner {
  grid-area: banner;
}

.app > .content {
  grid-area: content;
  padding: 1rem;
}

.app > .footer {
  grid-area: footer;
}
