.app {
  width: 100%;
  max-width: 100%;

  height: auto;
  min-height: 100vh;

  display: grid;
  grid-template-rows: 10vh 90vh minmax(100vh, auto) minmax(10vh, auto);
  grid-template-areas: "header" "banner" "content" "footer";
}
