.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--page-height);
}

.contact > h2 {
    font-size: var(--title-font-size);
}

.contact > h3, .email > h3 {
    margin: 20px;
    font-size: var(--subtitle-font-size);
}

.contact > p, .email > p {
    margin:20px auto;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
    max-width: 46rem;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    margin: 20px;
}

.socialMediaLogo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

.socialMediaLogo:hover {
    transform: translateY(-5px);
}

.socialMedia > div > p {
    font-weight: 700;
}

.email {
    margin: 30px;
}

.email > h3 {
    margin: 10px;
    font-size: var(--subtitle-font-size);
}

.contact > .disclaimer {
    max-width: 80%;
    min-width: 50%;

    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    text-align: center;
}

@media screen and (max-width: 375px) {
    .contact {
        margin: 20% 0;
    }
}

@media screen and (max-width: 330px) {
    .socialMedia > div {
        padding: 2% 0;
    }
}

@media screen and (max-width: 330px) {
    .socialMedia > div {
        padding: 2% 0;
    }
}

.contact-landscape {
    height: unset !important;
}