.title {
    font-size: 30px;
}

.local {
    width: 100%;
    max-width: 100%;
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.local > h1 {
    padding-bottom: 40px;
}