.title {
    font-size: 30px;
}

.local {
    width: 100%;
    max-width: 100%;
    height: calc(var(--page-height) - 7vh);
    /* background-color: blue; */
}

.local > h1 {
    padding-bottom: 40px;
}