.partners {
    width: 100%;
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partnersTile{
    background-color: rgb(255, 255, 255);
    width: 60%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-radius: 80px;
    align-self: center;
}