.schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: 300px 300px;
    height: var(--page-height);
    min-height: 550px;
    justify-content: center;
}

.scheduleTitle {
    color: var(--font-color);
    font-size: var(--title-font-size);
    padding-bottom: 50px;
    /* background-color: red; */
}

.schedule > p {
    font-weight: 700;
    font-size: var(--text-font-size);
}


@media  screen and (max-height : 720px) {
    .scheduleTitle {
        padding-bottom: 0px;
    }
}

@media  screen and (max-width : 720px) {
    .scheduleTitle {
        padding-bottom: 0px;
    }
}