.schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: 300px 300px;
    height: var(--page-height);
    justify-content: center;
}

.scheduleTitle {
    color: var(--font-color);
    font-size: var(--title-font-size);
    margin-bottom: 50px;
    margin-top: -50px;

}

.schedule > p {
    font-weight: 700;
    font-size: var(--text-font-size);
}