.patrocinadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    column-gap: 50px;
    
}

.texto {
    color: var(--font-color);
    font-size: 48px;
    margin-bottom: 50px;
}

.patrocinios {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    background-size:300px 300px;
}